.settingsPanel {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.settingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.darkMode .settingsPanel {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.darkMode .settingItem {
  color: #000000; /* 确保设置项的文字在深色模式下也是浅色的 */
}

.settingItem:last-child {
  margin-bottom: 0;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #007aff;
}

input:checked + .slider:before {
  transform: translateX(22px);
}





.settingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  flex-wrap: wrap; /* 允許元素換行 */
}

/* 旋轉時間(文字) */
.settingItem > span:first-child {
  flex-basis: 100%; /* 讓文字佔據整行 */
  margin-bottom: 5px;
}

/* 秒數(文字) */
.settingItem > span:nth-child(2) {
  order: 3; /* 將秒數放到最後 */
  min-width: 40px;
  text-align: right;
}

/* 控制時間的橫桿(介面) */
.spinDurationControl {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-top: 10px;
  order: 2; /* 將滑動條放在中間 */
}

.spinDurationControl input[type="range"] {
  width: 100%;
  margin-right: 10px;
  -webkit-appearance: none;
  background: transparent;
}

/* 自定義滑動條樣式 */
.spinDurationControl input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #007aff;
  cursor: pointer;
  margin-top: -6px;
}

.spinDurationControl input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}

/* Firefox 的滑動條樣式 */
.spinDurationControl input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #007aff;
  cursor: pointer;
}

.spinDurationControl input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}